#Work{
  min-height: 100vh;
  width: 100%;
  background-color: var(--dark);
  color: var(--light);
  padding: 60px 40px;
}

article{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 60px;
}

#workgrid{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
}

#place-date-div{
  grid-column: 1;
}
#place-date-div p{
 color: var(--green);
}

h5{
  font-size: 2rem;
  font-weight: 500;
}

h6{
  font-size: 1rem;
  font-weight: 500;
}

#experience-div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*Mobile version*/
@media (max-width:760px){
  #Work{
    padding: 40px;
  }
  
  article{
    margin-top: 20px;
  }
  
  #workgrid{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #place-date-div{
    grid-column: 1;
  }
  #place-date-div p{
   color: var(--green);
  }
  
  h5{
    font-size: 2rem;
    font-weight: 500;
  }
  
  h6{
    font-size: 1rem;
    font-weight: 500;
  }
  
  #experience-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
}